/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px; /* top-left, top-right, bottom-right, bottom-left */
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-family: Verdana;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav b {
    float: right;
    padding: 7px 8px;
    text-align: right;
    color: white;
    font-family: Verdana;
}


.header {
    background-color: gray;
    text-align: center;
    /* padding: 40px; */
    height: 100px;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px; /* top-left, top-right, bottom-right, bottom-left */
}

.header h1 {
    color: white;
    font-family: Verdana;
}



/* Home */

.block {
    border: 1px solid black;
    width: 35%;
    margin: 15%;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana;
    color: black;
    background-color: #bee9ea;
    /* height: 650px; */
    box-shadow: 0px 0px 5px 2px black;
}

.block h1 {
    font-size: larger;
}

.block ul {
    text-align: left;
}

.block p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Blog */
.block2 {
    border: 1px solid beige;
    width: 70%;
    margin: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    text-align: center;
    font-family: Verdana;
    color: black;
    background-color: #BEEACC;
    /* height: 650px; */
    box-shadow: 0px 0px 5px 5px black;
}

.block2 h1 {
    font-size: larger;
}

.block2 ul {
    text-align: left;
}

.block2 p {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Projects */
.dropdown {
    border: 1px solid #4c4c4c;
    width: 70%;
    margin: 15%;
    margin-top: 50px;
    margin-bottom:0px;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana;  
    font-size: 30px;  
    color: white;
    background-color: #4c4c4c;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown h1 {
    font-size: 35px;
    font-family: 'Segoe UI';
    text-align: left;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}




.dropdown2 {
    width: 70%;
    margin: 15%;
    margin-top: 25px;
    margin-bottom: 10px;
    /* border-radius: 10px; */
    text-align: left;
    font-family: Verdana;  
    font-size: 30px; 
}

.dropdown2 h1 {
    font-size: 25px;
    text-align: left;
    margin-left: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown2 p {
    font-size: 15px;
}

.dropdown2 a {
    color: turquoise;
}